################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpFWBurn/v16/.suo
/CSharpFWBurn/obj/Debug
/CSharpFWBurn/bin/Debug
